    <header>
        <div class="bg"></div>
        <div class="container">
            <h1>Toronto Hardware Startup Community</h1>
            <p>We provides access to tools, software and space</p>
            <a href="http://meetup.com/HardwareTO" class="btn btn-primary signup-link">Join Our Meetup</a>
            <div>We are <a href="<%= subscribe_path %>">launching soon</a></div>
        </div>
    </header>


    <section id="work">
        <h2>Our Environment Let Your Geek Shine</h2>


        <div class="container">
            <div class="row">
                <div class="col col-lg-4">
                    <h4>HardwareTO Labs</h4>
                    <p>With a monthy or annual fee, members can reserve and use our tools, our space, and get access to our network to support the different stages of their projects.</p>
                </div>
                <div class="col col-lg-4">
                    <h4>HardwareTO Workshop</h4>
                    <p>Anyone can attend our workshop. If you are a developer, it's a great opporutnity to learn how to add your code to a physical object: We teach software folks how to build hardware stuff!</p>
                </div>
                <div class="col col-lg-4">
                    <h4>HardwareTo Meetup</h4>
                    <p>Our meetup is organized once every month to bring toronto Hardware Community Together. Speakers are invited and its a great opportunity to showcase what you are working on.</p>
                </div>
            </div>
        </div>

    </section>

    <section id="equipment">
    	<h2>Our Equipments and Gadgets</h2>
    	<p>We are launching soon and we plan to equip our lab with the best gadgets in town and abroad:</p><br/>
    	<h3>Software</h3>
    	<p>Autocad, Rhino3D, Blender, 3ds Max Studio, LightWave 3D, SolidWorks, Alibre Personal Edition, Cheetah3D, bonzai3d</p><br/>
    	<h3>Hardware</h3>
    	<p>IMac machines, Cubify CubeX 3D Printer, Makerbot Replicator, Formlabs Form 1, NextEngine 3D Scanner, Otherlab Othermill</p><br/>
    	<h3>For Developers</h3>
    	<p>Oculus Rift, Xbox one + Kinect, Google Glass, Leap Motion, MYO, DIY Drones, Pebble</p>
    </section>

    <section id="different">
        <h2>Custom Build at Your Fingertip</h2>
        <h3>Prototype Playground</h3>
        <p>Prototyping studio, hackerspace and learning center. Building factories is no longer a prerequisite for<br/> building products. The world is eagerly awaiting new devices and new device platforms. We expect brilliant<br/> things to come in the years ahead, come seize the opportunity and build your prototype.</p>
        <img src="http://www.adafruit.com/adablog/wp-content/uploads/2012/06/Leviathan-1.jpg" alt="" style="margin-top:40px">
    </section>

    <section id="howto">
        <a name="sponsors_block" style="text-decoration: none;"><h2>Our Sponsors</h2></a>
        <h3>Platinum Sponsor</h3>
        <div class="container">
        	<div class="row">
                <div class="col col-lg-4">

                </div>	
                <div class="col col-lg-4">
                    <div>
                        <%= image_tag("your_logo.png")%>
                    </div>
                </div>	
        </div>

<!--         <h3>Gold Sponsor</h3>
        <div class="container">
            <div class="row">
                <div class="col col-lg-4">
                    <div>
                        <%= image_tag("your_logo.png")%>
                    </div>
                </div>
                <div class="col col-lg-4">
                    <div>
                        <%= image_tag("your_logo.png")%>
                    </div>
                </div>
                <div class="col col-lg-4">
                    <div>
                        <%= image_tag("your_logo.png")%>
                    </div>
                </div>
            </div>
        </div>

        <h3>Silver Sponsor</h3>
        <div class="container">
            <div class="row">
                <div class="col col-lg-4">
                    <div>
                        <%= image_tag("your_logo.png")%>
                    </div>
                </div>
                <div class="col col-lg-4">
                    <div>
                        <%= image_tag("your_logo.png")%>
                    </div>
                </div>
                <div class="col col-lg-4">
                    <div>
                        <%= image_tag("your_logo.png")%>
                    </div>
                </div>
            </div>
        </div> -->

        <h3>Community Partner</h3>
        <div class="container">
            <div class="row">
                <div class="col col-lg-4">
                    <div>
                        <%= image_tag("richdxstudio.png")%>
                    </div>
                </div>
                <div class="col col-lg-4">
                    <div>
                        <%= image_tag("sponsors/upverter_logo.png")%>
                    </div>
                </div>
                <div class="col col-lg-4">
                    <div>
                        <%= image_tag("your_logo.png")%>
                    </div>
                </div>
            </div>
        </div>

        <h3>Services Provider</h3>
        <div class="container">
            <div class="row">
                <div class="col col-lg-4">
                    <div>
                        <%= image_tag("http://ebmedia.eventbrite.com/s3-build/15498-rc2013-07-22-5af2e91/django/images/logos/eb_home_tm-trans.png")%>
                    </div>
                </div>
                <div class="col col-lg-4">
                    <div>
                        <%= image_tag("http://www.academytrainingsolutions.co.uk/Graphics/AutoCAD/autocad.gif")%>
                    </div>
                </div>
                <div class="col col-lg-4">
                    <div>
                        <%= image_tag("http://blog.newrelic.com/wp-content/uploads/heroku_logo.png")%>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
        	<p>We are really grateful to individual, companies and organization that support us and make this possible.</p>
        	<div>Become our next sponsor. Request our <a href="info@hardwareto.com">Sponsor Package</a> or <a href="info@hardwareto.com">Email Us</a></div>
        </div>
    </section>

    <section id="testimonials">
        <h2>What people say about HardwareTO</h2>
        <div class="container">
        <div class="row">
        <!-- Add SnapWidget for instagram widget -->
		<a class="twitter-timeline" href="https://twitter.com/search?q=hardwareTO" data-widget-id="362087944342876160">Tweets about "hardwareTO"</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

		</div>
    </section>