    <header>
        <div class="bg"></div>
        <div class="container">
            <h1>Toronto Hardware Startup Meetup</h1>
            <p>Bringing Makers & Developers Together</p>
            <a href="http://meetup.com/HardwareTO" class="btn btn-primary signup-link">Join Our Meetup</a>
        </div>
    </header>


    <section id="work">
        <div class="container">
            <h2>Next Event: October 2nd, 2013</h2><br/>
            <a href="http://hardwareto.eventbrite.com/" class="attend">Attend</a><br><br>
        </div>

        
        <div class="container">
            <div class="row"><br><br>
            <h3>Why you should come?</h3>
                <div class="col col-lg-4">
                    <h4>Grow your Network</h4>
                    <p>We invite top influencers in the tech field to our events: startups and their founders, product makers, developers and members of the media.</p>
                </div>
                <div class="col col-lg-4">
                    <h4>Try New Products</h4>
                    <p>Come and try the products of the 5 startups we invite. Startup get to have a booth or stands and showcase
                    their product.</p>
                </div>
                <div class="col col-lg-4">
                    <h4>Short Demo</h4>
                    <p>We want our events to help you meet new people and have a lot of fun. Hear two minute elevator pitches from the five exciting hardware startups we invite to our event</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col col-lg-4">
                    <h4>Build Your Team</h4>
                    <p>This event brings bright minds together it is a great opportunity to find your next co-founder, team member or talented hire.</p>
                </div>
                <div class="col col-lg-4">
                    <h4>Speaker</h4>
                    <p>We work through our network to bring you the most talented people from Silicon Valley and from all over North America to motivate and inspire you with talk on interesting topics. </p>
                </div>
                <div class="col col-lg-4">
                    <h4>Free Drinks!</h4>
                    <p>Our drinks are generously provided by Upverter. We also work with our awesome network of partners to provide you with free goodies and T-shirts</p>
                </div>
            </div>
        </div>

    </section>

    <section id="howto">

<!--         <h3>Gold Sponsor</h3>
        <div class="container">
            <div class="row">
                <div class="col col-lg-4">
                    <div>
                        <%= image_tag("your_logo.png")%>
                    </div>
                </div>
                <div class="col col-lg-4">
                    <div>
                        <%= image_tag("your_logo.png")%>
                    </div>
                </div>
                <div class="col col-lg-4">
                    <div>
                        <%= image_tag("your_logo.png")%>
                    </div>
                </div>
            </div>
        </div>

        <h3>Silver Sponsor</h3>
        <div class="container">
            <div class="row">
                <div class="col col-lg-4">
                    <div>
                        <%= image_tag("your_logo.png")%>
                    </div>
                </div>
                <div class="col col-lg-4">
                    <div>
                        <%= image_tag("your_logo.png")%>
                    </div>
                </div>
                <div class="col col-lg-4">
                    <div>
                        <%= image_tag("your_logo.png")%>
                    </div>
                </div>
            </div>
        </div> -->

        <h3>Community Partner</h3>
        <div class="container">
            <div class="row">
                <div class="col col-lg-4">
                    <div>
                        <%= image_tag("richdxstudio.png")%>
                    </div>
                </div>
                <div class="col col-lg-4">
                    <div>
                        <%= image_tag("sponsors/upverter_logo.png")%>
                    </div>
                </div>
                <div class="col col-lg-4">
                    <div>
                        <%= image_tag("Bitmaker-Labs.jpg")%>
                    </div>
                </div>
            </div>
        </div>

        <h3>Services Provider</h3>
        <div class="container">
            <div class="row">
                <div class="col col-lg-4">
                    <div>
                        <%= image_tag("http://ebmedia.eventbrite.com/s3-build/15498-rc2013-07-22-5af2e91/django/images/logos/eb_home_tm-trans.png")%>
                    </div>
                </div>
                <div class="col col-lg-4">
                    <div>
                        <%= image_tag("your_logo.png")%>
                    </div>
                </div>
                <div class="col col-lg-4">
                    <div>
                        <%= image_tag("http://blog.newrelic.com/wp-content/uploads/heroku_logo.png")%>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
        	<p>We are really grateful to individuals, companies and organization that support us and make this possible.</p>
        	<div>Become our next sponsor. Request our <a href="info@hardwareto.com">Sponsor Package</a> or <a href="info@hardwareto.com">Email Us</a></div>
        </div>
    </section>

    <section id="testimonials">
        <h2>What people say about HardwareTO</h2>
        <div class="container">
        <div class="row">
        <!-- Add SnapWidget for instagram widget -->
		<a class="twitter-timeline" href="https://twitter.com/search?q=hardwareTO" data-widget-id="362087944342876160">Tweets about "hardwareTO"</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

		</div>
    </section>